<html>
    <head th:replace="/fragmentos/head.html"></head>

    <body>
       <nav th:replace="/fragmentos/navbar.html"></nav>

        <div id="band" class="container text-center">
            <h3>O Grupo</h3>
            <p><em>Quem nós somos?</em></p>
            <p>Nós somos um grupo de estudantes do curso 2° ano do curso de Engenharia de Computação da Escola Politécnica da Universidade de São Paulo. 
                Este site foi criado para a matéria MAC 321 - Laboratória de Programação Orientada a objetos. O objetivo do projeto é funcionar como
            um simples aplicativo de feed RSS, no qual é possível adicionar suas principais fontes de notícia e acompanhá-las com maior facilidade</p>
            <br>
            <div class="row">
                
                <div class="col-sm-3">
                    <p class="text-center"><strong>Eduardo Santos</strong></p><br>
                    <a href="#eduardo" data-toggle="collapse">
                        <img src="https://avatars0.githubusercontent.com/u/46734503?s=460&u=60fdee6b7ca83776cda929b5a93eb5a68259271c&v=4" class="rounded-circle person" alt="Random Name" width="255" height="255">
                    </a>
                    
                    <div id="eduardo" class="collapse">
                        <p>Qualquer coisa</p>
                        <p>Qualquer coisa</p>
                        <p>Github: <a href="https://github.com/EduardoTom" target="_blank">EduardoTom</a></p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <p class="text-center"><strong>Gabriel Carvalho</strong></p><br>
                    <a href="#gabriel" data-toggle="collapse">
                        <img src="https://avatars2.githubusercontent.com/u/48861016?s=460&u=3bf4293d859c39354dd7618586a1fbafb202688f&v=4" class="rounded-circle person" alt="Random Name" width="255" height="255">
                    </a>
                    
                    <div id="gabriel" class="collapse">
                        <p>Aparentemente gosta do Batman</p>
                        <p>Qualquer coisa</p>
                        <p>Github: <a href="https://github.com/ArkhamKnightGPC" target="_blank">ArkhamKnightGPC</a></p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <p class="text-center"><strong>Guilherme Mariano</strong></p><br>
                    <a href="#guilherme" data-toggle="collapse">
                        <img src="https://avatars3.githubusercontent.com/u/51465482?s=460&u=07cb00705932887fcaa857b7bc3e0e9ebae3e685&v=4" class="rounded-circle person" alt="Random Name" width="255" height="255">
                    </a>
                    
                    <div id="guilherme" class="collapse">
                        <p>Qualquer Coisa</p>
                        <p>Qualquer Coisa</p>
                        <p>Github: <a href="https://github.com/Projeto-Meteoro" target="_blank">Projeto-Meteoro</a></p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <p class="text-center"><strong>Paulo Diniz</strong></p><br>
                    <a href="#paulo" data-toggle="collapse">
                        <img src="https://avatars1.githubusercontent.com/u/60589732?s=460&u=7eea43a7fadc709d427baaa8e194ee95f0f9cdcb&v=4" class="rounded-circle person" alt="Random Name" width="255" height="255">
                    </a>
                    
                    <div id="paulo" class="collapse">
                        <p>Qualquer Coisa</p>
                        <p>Qualquer Coisa/p>
                        <p>Github: <a href="https://github.com/paulohdiniz" target="_blank">paulohdiniz</a></p>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragmentos/footer.html"></footer>
    </body>
</html> 